{% extends "layouts/layout1.html" %}
{% block title %}
Our custom title
{% endblock %}
{% block content %}



    <div class="container">

        

        <div class="row">
            <div class="box">
                <div class="col-lg-4">
                    <hr>
                    <h2 class="intro-text text-center">Guranteed
                        <strong>Hours</strong>
                    </h2>
                    <hr>
                 
                 
                </div>
               <div class="col-lg-4">
                    <hr>
                    <h2 class="intro-text text-center">Hour's
                        <strong>Worked</strong>
                    </h2>
                    <hr>
                 
                </div>
               <div class="col-lg-4">
                    <hr>
                    <h2 class="intro-text text-center">Punch
                        <strong>Card</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-4">
                    <hr>
                    <h2 class="intro-text text-center">Track
                        <strong>mileage</strong>
                    </h2>
                    <hr>
                 </div>
                <div class="col-lg-4">
                    <hr>
                    <h2 class="intro-text text-center">deductables /
                        <strong>receipts</strong>
                    </h2>
                    <hr>
                 </div>
               <div class="col-lg-4">
                    <hr>
                    <h2 class="intro-text text-center">payments /
                        <strong>invoices</strong>
                    </h2>
                    <hr>
                 </div>
               
                
            </div>
        </div>

   

    </div>

{% endblock content %}


