{% extends "layouts/layout1.html" %}
{% block title %}
About
{% endblock %}
{% block content %}



    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">About
                        <strong>EZ Accounting</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="static/img/slide-2.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <p>EZA celebrates how freelancers inspire, support, and assist us in discovering the world.</p>
                    <p>Your ideas and suggestions help us to constantly improve our experience. Your fedback is valuable to us. </p>
                    <p>Founded in 2016, EZA's mission is to give freelancers the convenience of being able to focus on their specialty by simplifying the tedious paperwork. Freelancers use EZA to stay connected with clients, .</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Our
                        <strong>Team</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>Francisco Barcena
                        <small>Lead Developer</small>
                    </h3>
                </div>
              <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>David Gonzalez
                        <small>Programmer</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>Jimmy Xiloj    
                        <small>Audio Engineer</small>
                    </h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <!-- /.container -->

{% endblock content %}

