{% extends "layouts/layout1.html" %}
{% block title %}
Hours Worked
{% endblock %}
{% block content %}
{% macro render_field(field) %}
<div class="form-group">
    {% if field.name != "submit" %}
        {{ field.label }}
        {{ field(**kwargs)|safe }}   
    {% else %}
       {{ field(class="btn btn-primary") }}
    {% endif %}
</div>
{% endmacro %}


    <div class="container">

        

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center"><strong>Hourly</strong>
                    Rate
                        
                    </h2>
                    <hr>
                    <div class="jumbotron">
                    {% if entry %}
                    <table class="table table-striped" >
                    <tr>
                        <th>Hr. Type</th>
                        <th class="text-right">Hr/Pay   </th>
                        <th class="text-right">Hours    </th>
                        <th class="text-right">Paid     </th>
                    </tr>
                    <tr>
                        <td>Regular</td>
                        <td class="text-right">{{entry.regular['rate'] }}</td>
                        <td class="text-right">{{entry.regular['hours']}}</td>
                        <td class="text-right">{{entry.regular['pay']  }}</td>
                    </tr>
                    <tr>
                        <td>Overtime</td>
                        <td class="text-right">{{entry.overtime['rate']}}</td>
                        <td class="text-right">{{entry.overtime['hours']}}</td>
                        <td class="text-right">{{entry.overtime['pay']}}</td>
                    </tr>
                    <tr>
                        <td>Double time</td>
                        <td class="text-right">{{entry.doubletime['rate']}}</td>
                        <td class="text-right">{{entry.doubletime['hours']}}</td>
                        <td class="text-right">{{entry.doubletime['pay']}}</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td></td>
                        <td class="text-right">{{entry.total['hours']}}</td>
                        <td class="text-right">{{entry.total['pay']}}</td>
                    </tr>
                    </table>
                    {% endif %}
          </div>
          
<form method="POST" action="{{ url_for('hourly_rate') }}" enctype="multipart/form-data">
                {{ form.csrf_token }}
				{{ render_field(form.hours_worked,  class="form-control", autocomplete="off") }}
				{{ render_field(form.hourly_rate,   class="form-control", autocomplete="off") }}
				{{ render_field(form.submit,        class="form-control", autocomplete="off") }}

		

			</form>
                
                 
                </div>
            
               
                
            </div>
        </div>
    </div>

{% endblock content %}

